{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Krishna Jha</title>
  <meta content="" name="Best Diabetes Doctor in Virar" name="description">
  <meta content="Dr Amit Chaudhari, Best diabetes doctor in virar, Diabetes, Cardiology, Navjeevan Diabetes and Thyroid Clinic " name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"> -->
  <!-- Template Main CSS File -->
  <!-- <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"> -->

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================

  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-phone"></i> <a href="tel:+919096607372" class="phone" style="color:#FFFFFF">Emergency +91 90966 07372</a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <section class="">

  <header id="header" class="fixed-top">
    
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo me-auto"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="#Home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#features">SPECIALITIES</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <!--<li><a class="nav-link scrollto" href="#faq">FAQ's</a></li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="tel:+919172842062" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>

    </div></section>
  
  </header><!-- End Header -->  


  <!-- ======= Hero Section ======= -->
  
  <div id="Home" class="your-class"></div>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/slide/slide-5.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/slide/slide-1.gif' %}" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="{% static 'assets/img/slide/slide-4.jpg' %}" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="{% static 'assets/img/slide/slide-3.png' %}" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="{% static 'assets/img/slide/slide-2.png' %}" class="d-block w-100" alt="...">
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <!-- End Hero -->

  <main id="main">


   <!-- ======= Services Section ======= -->
   <section id="servicesc" class="servicesc">
    <div class="container" data-aos="fade-up">

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/img/services-1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
                <h3>Diabetologist</h3>
              <p>Comprehensive diabetes care therapy (CDC), is one of the best diabetes reversal program.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/img/services-2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="far fa-hospital"></i>
              </div>
                <h3>Hypertension</h3>
              <p>Round the clock Hypertension emergency services for patients suffering from HBP.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/img/services-3.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
                <h3>Thyroid Specialist</h3>
              <p>All Types of investigations related to thyroid are done under one roof</p>
            </div>
          </div>
        </div><!-- End Service Item -->



        <!-- ======= End Services Section ======= -->

 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
  <div class="container" data-aos="fade-up" data-aos-delay="10">

    <div class="section-title">
      <h2>About Us</h2>
      
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Navjeevan Diabetes and Thyroid Clinic</h3>
        <p class="fst-italic">
          Dr. Amit Chaudhari has more than 12 years of experience in this specialty and has been in practise since 2011.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Physician consultation.</li>
          <li><i class="bi bi-check-circle"></i> Nutritional counselling.</li>
          <li><i class="bi bi-check-circle"></i> Counselling and Treatment on Obesity, Lifestyle & PCOS.</li>
        </ul>
        <p>
          We are dedicated to controlling diabetes, thyroid issues, and hypertension. Our area of expertise is diabetes. Diabetes Foot Diseases and Thyroid Diseases in Pregnancy.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->




<!-- ======= Pathology Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up" data-aos-delay="10">

    <div class="section-title">
      <h2>Pathology</h2>
      
    </div>

    <div class="row">
      <div class="col-lg-12" data-aos="fade-right">
        <img src="{% static 'assets/img/slide/slide-5.png' %}" class="img-fluid" alt="">
      </div>

  </div>
</section><!-- End About Us Section -->
    
    <!-- ======= SPECIALITIES Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specialities</h2>
             </div>

        <ul class="nav nav-tabs row gy-4 d-flex">

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <span class="text-success"><i class="fa-solid fa-user-doctor"></i><br></span>
              <h4>Type 1 & 2 Diabetes </h4>
            </a>
          </li><!-- End Tab 1 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <span class="text-danger"><i class="fa-solid fa-stethoscope"></i><br></span>
              <h4>Hypertension</h4>
            </a>
          </li><!-- End Tab 2 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <span class="text-secondary"><i class="fa-solid fa-user-nurse"></i><br></span>
              <h4>Thyroid Treatment</h4>
            </a>
          </li><!-- End Tab 3 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <span class="text-success"><i class="fa-sharp fa-solid fa-hospital"></i><br></span>
              <h4>Diabetes Neuropathy</h4>
            </a>
          </li><!-- End Tab 4 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
              <span class="text-warning"><i class="fa-sharp fa-solid fa-house-chimney-medical"></i><br></span>
              <h4>Kidney Failure </h4>
            </a>
          </li><!-- End Tab 5 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
              <span class="text-info"> <i class="fa-sharp fa-solid fa-hospital-user"></i><br></span>
              <h4>Foot Diabetes</h4>
            </a>
          </li><!-- End Tab 6 Nav -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <h3>Type 1 & 2 Diabetes Treatment</h3>
                <p class="fst-italic">
                  There are two forms of Diabetes: Type 1 and Type 2.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> <u>Type 1</u> diabetes is characterized by the absence of insulin production by the pancreas.</li>
                  <li><i class="bi bi-check-circle-fill"></i> <u>Type 2</u> diabetes occurs when the pancreas does not create enough insulin or when the body’s cells do not respond to it.</li>
                  </ul>
                <p>
                  Gestational diabetes is also a kind of diabetes that affects some pregnant women and usually goes away once the baby is born.
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'assets/img/features-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 1 -->

          <div class="tab-pane" id="tab-2">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Hypertension</h3>
                <p>
                  Hypertension, also known as high blood pressure, is a common medical condition in which the force of blood against the walls of the arteries is consistently too high. High blood pressure is a major risk factor for a variety of serious health problems, including heart disease, stroke, and kidney disease.
                </p>
                </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/features-2.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 2 -->

          <div class="tab-pane" id="tab-3">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Thyroid Treatment</h3>
                <p>
                  Thyroid treatment depends on the specific thyroid disorder and the severity of the condition. The two most common thyroid disorders are hypothyroidism (underactive thyroid) and hyperthyroidism (overactive thyroid).
                </p>
                
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/features-3.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 3 -->

          <div class="tab-pane" id="tab-4">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Diabetic Neuropathy</h3>
                <p>
                  Diabetic neuropathy is a type of nerve damage that occurs in people with diabetes. High blood sugar levels over time can damage the small blood vessels that supply nerves, leading to nerve damage. Diabetic neuropathy can affect any part of the body, but it most commonly affects the legs and feet.
                </p>
                
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/features-4.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 4 -->

          <div class="tab-pane" id="tab-5">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Diabetes Kidney Failure Treatment</h3>
                <p>
                  Diabetes is a leading cause of kidney failure, also known as diabetic nephropathy. Treatment for diabetes kidney failure typically involves a combination of medication, lifestyle changes, and possibly dialysis or kidney transplantation.
                </p>
                
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/features-5.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 5 -->

          <div class="tab-pane" id="tab-6">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Diabetes Foot Specialist</h3>
                <p>
                  A diabetes foot specialist, also known as a podiatrist, is a healthcare professional who specializes in the care and treatment of foot problems related to diabetes. People with diabetes are at increased risk of developing foot problems due to nerve damage and poor blood circulation, which can lead to foot ulcers and infections.
                </p>
                
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/features-6.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 6 -->

        </div>

      </div>
    </section><!-- End Features Section -->

    
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-1.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-2.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-3.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-4.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-5.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-6.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a></div>
            </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We recommend using Google Maps to locate our clinic easily. Simply click on our clinic's address below, and it will guide you directly to our location. We look forward to seeing you!</p>
        </div>

      </div>

      
      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div>
                  <iframe style="border:0; width: 100%; height: 200px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.5374309134622!2d72.80736499999999!3d19.4323823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9630247bdbd%3A0xea2d355d0e97e8be!2sNavjeevan%20Diabetes%20%26%20Thyroid%20Clinic!5e0!3m2!1sen!2sin!4v1696708063420!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> frameborder="5" allowfullscreen></iframe>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <a href="tel:+919172842062" class="phone" style="color:#050505">+91 91728 42062</a><br>
                  <a href="tel:+917058826546" class="phone" style="color:#050505">+91 70588 26546</a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p><a href="mailto:drchaudhariamit@gmail.com?Subject=Book_My_Appointment%20Query" style="color:#000000">drchaudhariamit@gmail.com</a><br>___________________________</p>
                  
                </div>
              </div>
             
            </div>

          </div>

          <div class="col-lg-6">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3><br>

              <p><b>Center 1 <br> <a href="https://maps.app.goo.gl/sxa9K2tTgvQ8cjxJ6" style="color:#000000"> Click to open Google Map </b><br> 204, B Wing, Subway Residency,
                Opp Railway<br> Subway, 
                Behind Shri Chintamani Mandir, <br>
                Virar East - 401305
                <br><br><br>
              <p><b>Center 2 <br> <a href="https://maps.app.goo.gl/ae5rSvoYimTvqMC26" style="color:#000000">Click to open Google Map </b><br> Shop No. 1 & 2, Navkar Bldg, 
                Behind  Umbarpada <br>Post Office,
                Saphale East - 401102 </a></p><p></p>
               

              </a></p>
                
            </div>
      
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    

    <div class="container">
      <div class="copyright">
        All Rights Reserved | &copy; Copyright <strong><span></span></strong>2023 | Navjeevan Diabetes and Thyroid Clinic.
      </div>
      <div class="credits">
        Designed by <a href="#">Krishna Jha (Docits)</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- ======= preloader ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 
 
 
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>